// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "colors";

.editor-colors {
        background-color: @base03;
        color: @base0;
}

.editor {
        .invisible-character,
        .indent-guide {
                color: @base01;
        }

        .gutter {
                background-color: @base03;
        }

        .gutter .line-number {
                opacity: 1;
        }

        .gutter .line-number.folded,
        .gutter .line-number:after,
        .fold-marker:after {
                color: @magenta;
        }

        .selection .region {
                background-color: @base02;
                color: @base03;
        }

        .line-number.cursor-line-no-selection {
                background-color: @base03;
        }

        .wrap-guide {
                background-color: @base02;
        }
}

.bracket-matcher {
        background-color: fade(@bright-blue, 80%);
        opacity: 0.9;
}

.cursor {
        color: @bright-blue;
        border-left-width: 2px;
}

.comment {
        color: @base01;
}

.entity {
        color: @orange;
}

.keyword {
        color: @violet;
}

.storage.type {
        color: @violet;
}

.constant {
        color: @yellow;

        &.numeric,
        &.boolean {
                color: @orange;
        }
}

.variable {
        color: @blue;
}

.delimiter, .brace {
        color: @base0;
}

.delimiter.period {
        color: @green;
}

.invalid.deprecated {
        text-decoration: underline;
        color: @red;
}

.invalid.illegal {
        color: @red;
}

.string {
        color: @green;

        .constant.character.escape {
                color: @base0;
        }

        &.regexp {
                color: @cyan;

                .source.ruby.embedded,
                .string.regexp.arbitrary-repitition {
                        color: @red;

                }
        }
}
