// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #65737E;
@gray: #2F3640;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@cyan: #8abeb7;
@blue: #81a2be;
@purple: #B48EAD;
@green: #acc697;
@red: #cc6666;
@orange: #de935f;
@light-orange: #EBCB8B;

//REF COLORS
@very-light-blue: #eff1f5;
@light-blue: #e2e4ea;
@gray-blue: #9fa6ad;
@space-gray: #4e5a66;
@dark-gray-blue: #2b313b;
@light-gray-blue: #3D4550;
@to-be-named: #707E89;
