// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c0c5ce;
@light-gray: #8fa1b3;
@gray: #373b41;
@dark-gray: #4f5b66;
@very-dark-gray: #4f5b66;
@bright-blue: #2c85f7;
@cyan: #96b5b4;
@blue: #81a2be;
@purple: #b48ead;
@green: #8fc198;
@red: #bf616a;
@orange: #d08770;
@light-orange:#ebcb8b;
