@very-light-gray: #D0D4E6;
@light-gray:      #A2C6EF;
@gray:            #515A6F;
@comment-blue:    #6E7C95;
@medium-gray:     #343D46;
@dark-gray:       #282A2E;
@very-dark-gray:  #1D1F21;
@dark-gray-blue:  #303845;

@bright-blue:     #2C85F7;
@bright-green:    #00FC6D;
@bright-orange:   #F59D6A;
@blue:            #77ABE7;
@purple:          #CAA6EC;  //#BF9AD7;  //#C099F9; //#BD9FD0; //#B29CC8; //#BD9FD0; //#A88FC1;
@green:           #8FCA9A;  //#8FC198;
@red:             #E39194;  //#EA9D9F; //#E08D90; //#D48182;
@orange:          #EFAA8E;  //#E59C88; //#E1A078;
@yellow:          #F7EFAE;  //#F1E8A0;  //#E5DEA5; //#DDD7A3;
@dull_blue:       #7EB1DF;
@cyan:            #E39194;

@very-light-blue: #EFF1F5;
@light-blue:      #B1D2EF;
@gray-blue:       #4E5A66;
@space-gray:      #4F5B66;
@light-gray-blue: #81A2BE;
